@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
}

header > div:first-child {
  display: flex;
}

div#logo img {
  width: 90px;
}

div#search-bar {
  margin-left: 35px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  margin-left: 15px;
}