@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  min-width: 1200px;
}

header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  margin-top: 10px;
}

header {
  position: sticky;
  top: -10px;
  z-index: 999;
  background-color: white;
}

header > div, header > ul {
  position: sticky;
  top: 0;
}

header > div:first-child {
  display: flex;
  align-items: center;
}

div#logo img {
  width: 90px;
}

div#search-bar {
  margin-left: 40px;
  width: 700px;
  position: relative;
}
input {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 15px;
  background-image: url("../media/search-blue.svg"), url("../media/google-mic.svg");
  background-repeat: no-repeat;
  background-position: 96% center, 90% center;
  font-size: 16px;
  box-shadow: 0 2px 5px 0px #e0d6d6;
  border: 1px solid white;
}

input:focus {
  outline: 0;
}

div#search-bar .vertical-separator {
  height: 26px;
  border-left: 0.5px solid rgba(128, 128, 128, 0.32);
  position: absolute;
  right: 100px;
  top: 10px;
}

div#search-bar .material-icons {
  position: absolute;
  right: 110px;
  top: 10px;
  font-size: 24px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

div#close .tooltip {
  position: absolute;
  right: 98px;
  top: 50px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #353333;
  color: white;
  padding: 5px 0;
  width: 50px;
  text-align: center;
  font-size: 12px;
}

div#close .tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #353333 transparent;
}

div#close:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  margin-left: 15px;
}

header li:first-child .material-icons {
  color: rgba(0, 0, 0, 0.7); 
}

header li:last-child .material-icons {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.7); 
}

header li .material-icons:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer; 
}

main > div#tabs-wrapper {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);

}

div#tabs {
  width: 670px;
  margin-left: 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main div#tabs li {
  height: 40px;
  text-align: end;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  margin-left: 22px;
}

main div#tabs .material-icons {
  font-size: 18px;
  margin-right: 3px;
}
main div#tabs ul:first-child li:first-child {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
  margin-left: 10px;
}

main p#results-time {
  margin-left: 172px;
  font-size: 14px;
  color: grey;
  margin-bottom: 18px;
}
main div#results-content {
  margin-left: 172px;
  margin-bottom: 18px;
  width: 650px;
}

div.content-block {
  margin-bottom: 30px;
}

main p.page-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 4px;
}
main p.page-link > span {
  display: flex;
  align-items: center;
  color: #777373;
}

main p.page-link .material-icons:first-child {
  font-size: 12px;
}

main p.page-link .material-icons:last-child {
  font-size: 20px;
}

main p.page-link .material-icons.double {
  font-size: 12px;
}

.page-link, .page-title {
  cursor: pointer;
}

div.content-block p.page-title {
  color: #1a0dab;
  font-size: 21px;
  margin: 0;
}

.page-title:hover {
  text-decoration: underline;
}

.page-sample {
  color: rgba(0, 0, 0, 0.62);
  font-size: 14px;
  margin-top: 4px;
  line-height: 20px;
}

.page-sample a {
  text-decoration: none;
}

.page-sample a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.content-date {
  color: rgba(0, 0, 0, 0.5);
}

p.asking-heading {
  font-size: 20px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  padding-bottom: 12px;
  margin-bottom: 16px;
}

p.question {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
  padding-bottom: 12px;
}

p.question:nth-child(5) {
  border-bottom: none;
  margin-bottom: 0;
}

p.question > .material-icons {
  position: relative;
  bottom: 5px;
  float: right;
  color: grey;
}

hr {
  display: inline-block;
  width: 582px;
  margin: 0;
  position: relative;
  bottom: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  color: rgba(128, 128, 128, 0.2);
  border-width: 0;
  height: 1.5px;
  margin-right: 10px;
}

.feedback {
  font-size: 12px;
  color: grey;
  vertical-align: text-top;
}

div#related > p {
  font-size: 20px;
  margin-bottom: 25px;
}

div#list {
  display: flex;
  font-size: 14px;
  justify-content: flex-start;
}

div#list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#list ul:last-child {
  margin-left: 40px;
}

div#list li {
  margin-left: 0;
  margin-bottom: 10px;
  color: #1a0dab;
  font-weight: bold;
  cursor: pointer;
}

div#google-pages {
  font-family: 'Spartan', sans-serif;
  display: flex;
  position: relative;
  left: 160px;
  margin: 20px 0;
}

div#google-pages #g {
  color: #4285f4;
  font-size: 32px;
  font-weight: bold;
}

#o-red, #e {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

#e {
  transform: rotate(-12deg);
  display: inline-block;
}

#o-yellow {
  color: #fbbc05;
  font-weight: bold;
  font-size: 30px;
}

#g-lower {
  color: #4285f4;
  font-weight: bold;
  font-size: 30px;
}

#l {
  color: #34a853;
  font-weight: bold;
  font-size: 30px;;
  font-weight: bold;
  font-size: 30px;;
  font-weight: bold;
  font-size: 30px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.page-container:nth-child(2) {
  cursor: default;
}

.page-container:nth-child(2):hover .page-number {
  text-decoration: none;
}
.page-container:nth-child(2) .page-number {
  color: black;
}

.page-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #4285f4;
}
.page-container:hover .page-number {
  text-decoration: underline;
}

.page-container.page-number {
  justify-content: space-around;
  transform: translateX(10px);
}

.page-container:hover > #next {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 30px;
}

div#footer-links {
  display: flex;
  justify-content: space-between;
}

div#location {
  display: flex;
  align-items: center;
}

div#location p:first-child {
  padding: 5px 10px 5px 0px;
  border-right: 1px solid rgba(128, 128, 128, 0.27);
}
div#location p:last-child {
  padding: 5px 0px 5px 10px;
}

div#location, div#footer-links {
  border-top: 1px solid #d8d6d6;
  padding: 10px 0px 10px 172px;
}

footer p {
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.light-black {
  color: rgba(0, 0, 0, 0.75);
}

footer .material-icons {
  font-size: 15px;
  vertical-align: top;
}

footer li {
  margin-left: 30px;
}

footer a {
  margin-right: 0px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

footer li:first-child {
  margin-left: 0;
}

footer ul > li:last-child a {
  margin: 0;
}