@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: 1200px;
}

header {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

header > div:first-child {
  display: flex;
  align-items: center;
}

div#logo img {
  width: 90px;
}

div#search-bar {
  margin-left: 40px;
  width: 700px;
}
input {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  padding-left: 22px;
  padding-right: 15px;
  background-image: url("../media/search-blue.svg"), url("../media/google-mic.svg");
  background-repeat: no-repeat;
  background-position: 96% center, 90% center;
  font-size: 16px;
  box-shadow: 0 2px 5px 0px #e0d6d6;
  border: 1px solid white;
}

input:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  margin-left: 15px;
}