@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #000000de;
  font-size: 13px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 360px);
}
main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

div#footer-links {
  display: flex;
  justify-content: space-between;
}

div#location, div#footer-links {
  padding: 10px 30px;
  border-top: 1px solid #d8d6d6;
}

footer p {
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

footer a {
  margin-right: 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
footer ul > li:last-child a {
  margin: 0;
}

@media (max-width: 805px) {
  div#footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div#footer-links ul:first-child {
    margin-bottom: 10px;
  }

}